img{
    min-width: 100%;
    height: 500px;
    display: block;
}
.page-header{
    background-color: cornflowerblue;
}

#horror{
    background-color: darkslategrey;
}
#story{
    background-color: royalblue;
}
.carousel-inner > .item > img {
    min-width: 100%;
    height: 500px;
    display: block;
}